body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Main {
  height: 200px;
  width: 200px;
  background-color: blue;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
  transform: scale(0);
  opacity: .8;
  transition: .5s ease-in-out;
}
